.container{
    width: 500px;
    margin-top: 20px;
   
}

input{
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}
.card{
    border:none;
    margin-top: 20px;
}
i{
    float: right;
    margin:5px;
}
li{
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}
#tareasHechas{
    text-decoration: line-through;
    background-color: mintcream;
}
.spinner-border{
   margin-top: 100px !important;
}